faker # Библиотека для генерации тестовых данных
flake8 # Библиотека для проверки code-style
flake8-import-order # Плагин для библиотеки выше
tox # библиотека для быстрой валидации тестов
pytest==5.4.1 # фреймворк для автотестов
selenium==3.141.0 # библиотека для вхаимодействия с UI
requests==2.22.0 # библиотека для работы с сетью
pandas==1.0.3 # если надумаю использовать exel файлы в тестах
cerberus #для сверки данных

